@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans&family=Roboto+Slab:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    color: #3a3a3a
}

h1, h2 {
    font-family: 'Roboto Slab', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: black;
}

#logo {
    float: left;
    font-size: 200%;
}

#menu {
    font-size: 100%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

h4 {
    font-family: 'Merriweather Sans', sans-serif;
}

p {
    font-family: 'Merriweather', sans-serif;
    font-size: 70%;
}

#reason-list {
    list-style-type: none;
    letter-spacing: 1px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu, #logo {
    line-height: 75px;
}

#cloud-image {
    background: url(../images/clouds.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

#defined h1 {
    color: black;
}

#defined {
    font-size: 60%;
    font-family: 'Merriweather sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;

    width: 400px;
    height: 250px;

    padding: 40px;

    background-color: rgb(238, 130, 238, .7);

    bottom: 160px;
    right: 50%;

    position: absolute;
}